apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: client
  labels:
    app: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: client
        image:  {{ registry_prefix }}/client
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: registry-credentials

