apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: postgres
  labels:
    database: postgres
spec:
  replicas: 1
  template:
    metadata:
      labels:
        database: postgres
    spec:
      containers:
      - name: postgres
        image: {{ registry_prefix }}/postgresql
        imagePullPolicy: "IfNotPresent"
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: postgres
        volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: postgredb
      volumes:
        - name: postgredb
          hostPath:
            path: /tmp/data
            type: DirectoryOrCreate
      nodeSelector:
        database: postgres
      imagePullSecrets:
      - name: registry-credentials
